reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX.sln.DotSettings.user
reactiveX/examples/Forms.ReactiveX/.vs/Forms.ReactiveX/v16/.suo
reactiveX/examples/Forms.ReactiveX/.vs/Forms.ReactiveX/v16/Server/sqlite3/storage.ide
reactiveX/examples/Forms.ReactiveX/.vs/Forms.ReactiveX/v16/Server/sqlite3/db.lock
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/Forms.ReactiveX.exe
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0/System.Reactive.pri
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0.16299/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0.16299/System.Reactive.pri
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.csproj.FileListAbsolute.txt
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.csproj.CoreCompileInputs.cache
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.csproj.CopyComplete
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.Properties.Resources.resources
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.Form1.resources
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/DesignTimeResolveAssemblyReferences.cache
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.ValueTuple.xml
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Threading.Tasks.Extensions.xml
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Threading.Tasks.Extensions.dll
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/.signature.p7s
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/version.txt
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/useSharedDesignerContext.txt
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinwatchos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarintvos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinmac20/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/xamarinios10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/netcoreapp2.1/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoTouch10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/ref/MonoAndroid10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinwatchos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarintvos10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinmac20/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/xamarinios10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/uap10.0.16299/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/netstandard2.0/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/netstandard2.0/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/netcoreapp3.0/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/net46/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/lib/net46/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/buildTransitive/netcoreapp3.0/System.Reactive.targets
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/build/netcoreapp3.0/System.Reactive.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/build/netcoreapp3.0/System.Reactive.targets
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.csproj.GenerateResource.cache
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/Forms.ReactiveX.pdb
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/bin/Debug/Forms.ReactiveX.exe.config
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/Properties/Settings.settings
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/Properties/Settings.Designer.cs
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/Properties/Resources.resx
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/Properties/Resources.Designer.cs
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/Properties/AssemblyInfo.cs
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/version.txt
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
reactiveX/examples/Forms.ReactiveX/packages/System.ValueTuple.4.5.0/LICENSE.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/netcoreapp2.1/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoTouch10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/lib/MonoAndroid10/_._
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/THIRD-PARTY-NOTICES.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/System.Threading.Tasks.Extensions.4.5.3.nupkg
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/LICENSE.TXT
reactiveX/examples/Forms.ReactiveX/packages/System.Threading.Tasks.Extensions.4.5.3/.signature.p7s
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/build/netcoreapp3.0/System.Reactive.dll
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/System.Reactive.4.2.0.nupkg
reactiveX/examples/Forms.ReactiveX/packages/System.Reactive.4.2.0/.signature.p7s
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.pdb
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.exe
reactiveX/examples/Forms.ReactiveX/Forms.ReactiveX/obj/Debug/Forms.ReactiveX.csprojAssemblyReference.cache
